<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="city" routerLinkActive="active">City
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="value" routerLinkActive="active" >Values</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="cityadd" routerLinkActive="active" >City Add</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="register" routerLinkActive="active">Register</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </li>
      </ul>
      <form *ngIf="!isAuthanticated" #loginForm="ngForm" (ngSubmit)="login()" class="d-flex">
        <input class="form-control me-sm-2" name="userName" [(ngModel)]="loginUser.userName" required type="text" placeholder="User Name">
        <input class="form-control me-sm-2" name="password" [(ngModel)]="loginUser.password" required type="password" placeholder="password">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit" [disabled]="!loginForm.valid">Giriş</button>
      </form>
      <button class="btn btn-secondary my-2 my-sm-0" *ngIf="isAuthanticated" (click)="logOut()" type="submit">Çıkış</button>

    </div>
  </div>
</nav>

